body {
    margin: 0;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    background-color: rgb(217, 217, 250)
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px
}

.top {
    color: rgb(48, 47, 47);
    font-size: 48px;
    box-sizing: border-box; 
    height: 30px;
    padding: 45px;
    margin: 0;
}

.h1 {
    flex: 1
}

.rounds {
    font-size: 32px;
    padding-top: 30px
}

.scores {
    font-size: 24px;    
    max-width: 800px;
    min-width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: space-between;
    gap: 10rem;
    padding: 0 1rem;
}

.round-turnoff {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;  
    max-width: 1000px;
    min-width: 400px;
    max-height: 700px;
    min-height: 200px;
    box-sizing: border-box;
    gap: 2rem;
}

.player-pick-container,
.computer-pick-container {
    background-color: rgb(135, 135, 223);
    min-height: 20rem;
    min-width: 15rem;
    flex: 1;    
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 8px;
}

.score-bar {
  width: 100%;
  text-align: center;
  font-size: 20px;
  background-color: rgb(66, 66, 187);
  color: rgb(218, 218, 218);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0.5rem;
  box-sizing: border-box;
}

.player-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.img-rps-card { 
    width: 100px;
    height: auto;
    border-radius: 50px
}

.rps-card {
    border-radius: 50px;
    flex: 1;
}

#play-again {
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 30px;
    background-color: rgb(28, 199, 28);
}






